.cartoption{
    display:grid;
    width:95%;
    margin-left:auto;
    margin-right:auto;
    grid-template-columns:1fr 1fr 1fr;
    align-items:center;
    justify-content:center;
    align-content: center;
    text-align:center;
    border-bottom: 3px solid black;
    /* border-top: 3px solid black; */
    animation-name:cart;
    animation-duration:1s;
}

.total{
    display:grid;
    width:95%;
    margin-left:auto;
    margin-right:auto;
    grid-template-columns:1fr 1fr 1fr;
    align-items:center;
    justify-content:center;
    align-content: center;
    text-align:center;
    /* border-top: 3px solid black; */
    animation-name:cart;
    animation-duration:1s;
}

@keyframes cart{
    from{
        opacity:0;
        transform:translateY(-100px)
    }
    to{
        opacity:1;
        transform:translateY(0)
    }
}

@media screen and (max-width: 768px){
    .cartoption{
        font-size:0.85em; 
    }
}