.cartoption{
    display:grid;
    width:500px;
    margin-left:auto;
    margin-right:auto;
    grid-template-columns:200px 100px 100px;
    align-items:center;
    justify-content:center;
    align-content: center;
    text-align:left;
    border-bottom: 3px solid black;
    /* border-top: 3px solid black; */
    animation-name:cart;
    animation-duration:1s;
}

@keyframes cart{
    from{
        opacity:0;
        transform:translateY(-100px)
    }
    to{
        opacity:1;
        transform:translateY(0)
    }
}