.form {
	display: block;
	/* border:2px solid black; */
	display: grid;
	grid-template-columns: 1fr;
}

.form input {
	/* border:2px solid blue; */
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	height: 35px;
	width: 50%;
	border: none;
	outline: none;
	border-bottom: 2px solid black;
	border-radius: 0;
}

.form label {
	/* border:2px solid yellow; */
	padding: 0;
	/* width:50%; */
	height: 50px;
	border-radius: 0;
}
.form textarea {
	border: 2px solid black;
	height: 100px;
	width: 80%;
	/* border:none; */
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
	resize: none;
	outline: none;
	border-radius: 0;
}

.button {
	padding: 10px 50px;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid #0c6291;
	background-color: #0c6291;
	color: white;
	font-weight: bold;
	border-radius: 25px;
}

.button:active {
	background-color: white;
	color: #0c6291;
	/* border:3px solid black; */
}

.form p {
	width: 90%;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	border-top: 4px solid black;
	border-bottom: 4px solid black;
}
