.container {
	background-image: url(../public/roll.jpg);
	background-position: center;
	background-repeat: repeat-x;
	background-size: cover;
	width: 100%;
	overflow: visible;
	display: grid;
	/* grid-template-rows: 120px 300px auto 70px 250px; */
	grid-auto-flow: dense;
}

.title {
	display: flex;
	flex-direction: column;
	text-align: center;
	background-color: rgb(255, 255, 255);
	align-items: center;
	justify-content: center;
	padding: 10px;
	border-bottom: 4px solid #7e1946;
	/* padding: 30px; */
}

.title h1 {
	display: block;
	width: 150px;
	margin: auto;
	font-family: Brush Script MT, Brush Script Std, cursive;
	text-align: center;
}

.title h4 {
	word-spacing: 10px;
	color: red;
	text-align: center;
}

.banner {
	/* position: absolute; */
	background-color: white;
	top: 120px;
	width: 100%;
	text-align: center;
	color: #7e1946;
	display: flex;
	flex-direction: column;
	gap: 4px;
	padding: 5px 10px;
}

.content {
	/* display: block; */
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	text-align: center;
	line-height: 4;
	background-color: rgb(255, 255, 255);
	box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.233);
	box-shadow: 5px 5px 2px rgba(12, 98, 145, 0.233);
	/* box-shadow:10px 10px 10px rgba(255, 255, 255, 0.5); */
	/* border: 3px solid black; */
	border-radius: 5px;
}

.content .note {
	line-height: normal;
	padding: 0px 20px;
	max-width: 600px;
	margin: auto;
}

.logo {
	display: block;
	margin-bottom: 0;
}

/* .additionalInfo {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
}
.shippingInfo {
	display: grid;
	text-align: center;
	margin-top: 20px;
	padding: 10px;
	color: white;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	line-height: 30px;
	display: absolute;
	background-color: rgba(0, 0, 0, 1);
	box-shadow: 10px 10px 10px black;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 50px 50px 50px 50px;
}

.shippingInfo h2 {
	padding: 0;
	display: block;
	grid-column: 1/-1;
	margin-bottom: 10px;
	border-bottom: 2px solid white;
}

.shippingInfo p.larger {
	border-top: 2px solid white;
	grid-column: 1/-1;
}

.guaranteed h2 {
	font-size: 19px;
} */

.minOrder {
	border: 4px solid black;
	text-align: center;
	margin-top: 20px;
	/* margin-left: -20px; */
	padding: 10px;
	color: white;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	line-height: 30px;
	display: absolute;
	background-color: rgba(0, 0, 0, 1);
	box-shadow: 10px 10px 10px black;
}

.options {
	/* background-color:whitesmoke; */
	margin-bottom: 20px;
}
.options p {
	display: inline-block;
	width: 300px;
	border-bottom: 3px solid black;
	position: relative;
	left: 35px;
	text-align: left;
}

.options button {
	width: 30px;
	height: 30px;
	font-weight: bold;
	/* background-color:rgb(0, 164, 240); */
	background-color: white;
	border: 2px solid black;
	background-color: black;
	color: white;
	position: relative;
	right: 30px;
	/* display:none; */
}

.minusbutton {
	margin-left: 10px;
}

.options button:hover {
	cursor: pointer;
}

.options button:active {
	/* background-color:red; */
	background-color: white;
	color: black;
}

/* .nextDay {
	text-align: center;
	display: grid;
	grid-template-columns: 1fr;
}

.nextDay p {
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	transform: translateX(-10px);
}

.nextDay input {
	margin-right: 10px;
} */

.orderButton {
	margin-top: 40px;
	padding: 10px 50px;
	background-color: #0c6291;
	color: white;
	font-weight: bold;
	border: 2px solid #0c6291;
	border-radius: 25px;
}
.orderButton:active {
	background-color: white;
	color: #0c6291;
}
/* .paypalbuttons {
	display: block;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
} */

.galleryButtonContainer {
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

.galleryButtonContainer button {
	background-color: white;
	border: 2px solid #0c6291;
	font-weight: bold;
	width: 150px;
	/* height: 50px; */
	border-radius: 25px;
	padding: 10px 40px;
}

.galleryButtonContainer button:active {
	background-color: #0c6291;
	color: white;
	border: 2px solid white;
}

/* .footer {
	background-color: white;
	margin-top: 50px;
	border-top: 4px solid red;
	padding: 10px;
	display: grid;
	grid-template-columns: 1fr 2fr 2fr;
} */

/* .footer div{
  border-right: 1px solid black;
} */

.mask {
	position: fixed;
	background-color: white;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

@media (max-width: 768px) {
	.container {
		width: 100%;
		grid-template-rows: 120px auto auto auto 70px auto;
	}

	.options p {
		/* */
		width: 65%;
	}

	.content {
		width: 100%;
	}

	/* .additionalInfo {
		grid-template-columns: 1fr;
		grid-template-rows: 300px;
	} */
	/* .footer {
		width: 100%;
		border-bottom: 4px solid red;
		grid-template-columns: 1fr 2fr;
	} */
}
