.container{
  display:grid;
  grid-template-rows:120px auto 100px;
}

.title{
  display:block;
  text-align: center;
  background-color:rgb(255, 255, 255);
  align-items: center;
  justify-content: center;
  padding:10px;
  border-bottom: 4px solid red;
  /* padding:30px; */
}

.title h1{
  display: block;
  width:100px;
  margin:auto;
  font-family: Brush Script MT, Brush Script Std, cursive;
}

.title h4{
  word-spacing: 10px;
  color:red;
}

.content{
  display: block;
  width:600px;
  margin-left:auto;
  margin-right: auto;
  margin-top: 50px;
  text-align: center;
  line-height: 4;
  background-color:white;
  box-shadow:10px 10px 2px rgba(0, 0, 0, 0.233);
  border:3px solid black;
}

.logo{
  display:block;
  /* margin-top: 20px; */
  margin-bottom: 0;
}

.options{
  /* background-color:whitesmoke; */
  margin-bottom: 20px;
}
.options p{
  display:inline-block;
  width:300px;
  border-bottom:3px solid black;
  position:relative;
  left:35px;
  text-align:left;
}

.options button{
  width:30px;
  height:30px;
  font-weight: bold;
  background-color:rgb(0, 164, 240);
  position:relative;
  right:30px;
  /* display:none; */

}

.minusbutton{
  margin-left:10px;
}

.options button:hover{
  cursor:pointer;
}

.options button:active{
  background-color:green;
}



.orderButton{
  margin-top: 40px;
  padding:10px;
  background-color:rgb(0, 255, 221);
  font-weight: bold;
}

.paypalbuttons{
  display:block;
  width:500px;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
  /* border:3px solid black; */
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
