.options {
	/* background-color:whitesmoke; */
	margin-bottom: 20px;
}
.options p {
	display: inline-block;
	width: 300px;
	border-bottom: 3px solid black;
	position: relative;
	left: 35px;
	text-align: left;
}

.options button {
	width: 30px;
	height: 30px;
	font-weight: bold;
	/* background-color:rgb(0, 164, 240); */
	border: 2px solid #0c6291;
	background-color: #0c6291;
	color: white;
	position: relative;
	right: 30px;
	border-radius: 25px;
	text-align: center;
	/* display:none; */
}

.minusbutton {
	margin-left: 10px;
}

.options button:hover {
	cursor: pointer;
}

.options button:active {
	/* background-color:red; */
	background-color: white;
	color: #0c6291;
}

@media (max-width: 768px) {
	.options p {
		width: 65%;
	}
}
