.additionalInfo {
	/* display: grid; */
	/* grid-template-columns: 1fr 1fr; */
	/* grid-gap: 20px; */
	display: flex;
	flex-wrap: wrap;
}
.shippingInfo {
	display: grid;
	text-align: center;
	margin-top: 30px;
	padding: 10px;
	color: #0c6291;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	line-height: 30px;
	display: absolute;
	/* background-color: rgba(0, 0, 0, 1); */
	background-color: rgba(255, 255, 255, 0.8);
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.438);
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 50px 50px 50px 50px;
	border-radius: 5px;
}

.shippingInfo h2 {
	padding: 0;
	display: block;
	grid-column: 1/-1;
	margin-bottom: 10px;
	border-bottom: 2px solid #0c6291;
}

.shippingInfo p.larger {
	border-top: 2px solid #0c6291;
	grid-column: 1/-1;
}

.guaranteed h2 {
	font-size: 19px;
}

.nextDay {
	/* border:2px solid black; */
	text-align: center;
	display: grid;
	grid-template-columns: 1fr;
	line-height: normal;
}

.nextDay p {
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	transform: translateX(-10px);
}

.nextDay input {
	/* width:40px; */
	/* margin-left:10px; */
	margin-right: 10px;
}

@media (max-width: 768px) {
	.additionalInfo {
		/* grid-template-columns: 1fr;
		grid-template-rows: 300px; */
	}
}
